@import '../../utils/constants.scss';

.timePeriods {
  display: flex;
  gap: toRem(40px);

  @media (max-width: $smallScreen) {
    flex-direction: column;
  }

  &__el {
    @include cleanButton;

    color: $lightGray;

    &:hover {
      color: $mediumGray;
    }
    &_selected {
      color: $darkBlue;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}
